html,
body {
  padding: 0;
  margin: 0;
  font-family: FoundersGrotesk;
  background-image: url('../public/middesk_bg.png');
  background-repeat: no-repeat;
  background-size: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Vaud';
  src: url('/fonts/FoundersGrotesk.otf');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
